
name: Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:

    runs-on: ubuntu-latest


    steps:
    - uses: actions/checkout@v4
    - run: docker build . -t vishal1611/next-js-app
  
    - run: echo "${{secrets.DOCKER}}" | docker login -u ${{secrets.DOCKER_USERNAME}} --password-stdin 
    - run: docker push vishal1611/next-js-app:latest